<%- include('../partials/head', {page_title: 'Admin Home'}) %>



    <body>
        <%- include('partials/admin-navbar') %>
        <div class="admin-app container-fluid container">
            <div class="jumbotron">
                <h1>Welcome!</h1>
                <p>Logged in as <%= user.username %>, <%= user.email %></p>
                <p class="text-muted">Last logged in <%= user.last_logged_in%></p>
            </div>
            <div class="well">
                <h1>Gallery</h1>
                <a href="/admin/gallery" class="btn btn-default btn-lg">Edit</a>
                <a href="/admin/gallery/upload" class="btn btn-default btn-lg">Upload</a>
            </div>
            <div class="well">
                <h1>Account</h1>
                <a href="/admin/settings" class="btn btn-default btn-lg">Settings</a>
                <a href="/auth/logout" class="btn btn-danger btn-lg">Logout</a>
            </div>
        </div>

        <%- include('../partials/footer') %>
    </body>



<%- include('partials/dropdown') %>


<%- include('../partials/foot') %>
