<%- include('partials/head') %>



    <body>
        <%- include('partials/admin-navbar') %>
        
        <div class="carousel-box">
            <%- include('partials/carousel') %>
        </div>

        <%- include('partials/footer') %>
    </body>




<%- include('partials/foot') %>
