<%- include('../partials/head') %>



    <body>
        <%- include('partials/admin-navbar') %>
        <div class="admin-app container-fluid">

            <% if (errors) { %>
                <% errors.forEach(function(err) { %>
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Warning!</strong> <%= err.message %>
                    </div>
                <% }) %>
            <% } %>
            <% if (messages) { %>
                <% messages.forEach(function(msg) { %>
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Success!</strong> <%= msg %>
                    </div>
                <% }) %>
            <% } %>

            <h1>Upload Image</h1>
            <form class="col-md-12" action="/admin/gallery/upload" method="post" enctype="multipart/form-data" id="upload-new-form">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label" for="image">Add Multiple Images</label>
                        <input type="file" name="files" id="image" accept="image/*" required multiple>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 pull-left">
                    <button type="submit" id="upload-new-button" class="btn btn-primary btn-block">Upload</button>
                </div>
            </form>
        </div>

        <div class="recently-uploaded">
            <h1>Recently Uploaded Images</h1>
            <div class="panel panel-default">
                <% if (images.length === 0)  { %>
                       <h6 class="panel-body">No images uploaded in the last 30 minutes</h6>
                <% } else if (images) { %>
                    <% images.forEach(function(image) { %>
                        <h4 class="panel-heading">Title: <%= image.title %></h4>
                        <div class="panel-body center-block">
                            <%- image.img_tag %>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>

        <%- include('../partials/footer') %>
    </body>

<%- include('partials/dropdown') %>

<%- include('../partials/foot') %>
