<%- include('partials/head') %>



    <body>
        <%- include('partials/navbar') %>
        <div class="app container-fluid">
            <h1 class="header">Featured Works</h1>
            <div class="grid-box container">
                <%- include('partials/masongrid', {mason_class: 'client'}) %>
            </div>
        </div>

        <%- include('partials/footer') %>
    </body>




<%- include('partials/foot') %>
