<%- include('partials/head') %>



    <body>
        <%- include('partials/navbar') %>
        <div class="app container-fluid">
            <div class="heading-box">
                <h1 class="header">Welcome to the shop!</h1>
                <h4 class="body-content">
                    With over 20 years of experience in the carpentry trade, we provide workmanship for the domestic and commercial markets. In need of a new wardrobe, kitchen installation, an attic renovation or any other skilled woodwork? Look no further!
                </h4>
                <a href="#" class="btn btn-default call-to-action">Free Estimate</a>
                <h3 class="header">Our Services Include</h3>
                <h5 class="body-content">
All internal and external carpentry  // Handmade furniture  // Complete refurbishment // Property maintenance  // Finish custom carpentry  // Much more...
                </h5>
            </div>

        </div>

        <div class="carousel-box">
            <polygon class="polygon">
                <ul class="polylist">
                    <li class="polylist-item"><h3 class="polylist-text">Locally Sourced Materials<h3></li>
                    <hr class="polybreak">
                    <li class="polylist-item"><h3 class="polylist-text">Satisfaction Guaranteed</h3></li>
                    <hr class="polybreak">
                    <li class="polylist-item"><h3 class="polylist-text">Handmade With Integrity</h3></li>
                </ul>
            </polygon>
            <%- include('partials/carousel', {carousel_class: 'main'}) %>
        </div>

        <%- include('partials/footer') %>
    </body>




<%- include('partials/foot') %>
